.profile-wrapper {
  display: flex;
  justify-content: center;
}

.profile-display {
  text-align: center;
  align-items: center;
  width: fit-content;
}

.profile-display input {
  margin-top: 2%;
  margin-bottom: 1%;
}

.profile-profile-picture {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-view-title {
  align-self: center;
}

.fileInput {
  width: 180px;
}
