.home-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 94%;
  width: 100%;
  overflow: scroll;
}

.home-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.home-logo {
  width: 70%;
}

.home-slogan {
  position: relative;
  top: -80px;
  text-align: center;
}
