.home-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 94%;
  width: 100%;
  overflow: scroll;
}

.home-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.home-logo {
  width: 70%;
}

.home-slogan {
  position: relative;
  text-align: center;
}

.home-picture{
  width: 40%
}

/*Home view Responsivenss*/
@media only screen and (max-width: 500px) {
  .home-picture{
    width: 70%
  }
}
