.about-wrapper {
  position: fixed;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
  text-align: center;
}

.about-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-beatcave-logo {
  width: 500px;
  height: 500px;
}

.about-content-wrapper {
  margin: auto;
  text-align: center;
  width: 500px;
  height: 500px;
}
