.about-wrapper {
  position: fixed;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
  text-align: center;
}

.about-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-beatcave-logo {
  width: 30%;
  height: 30%;
}

.about-content-wrapper {
  margin: auto;
  text-align: center;
  width: 40%;
  height: 500px;
}

@media only screen and (max-width: 1300px) {
  .about-beatcave-logo {
    width: 40%;
    height: 40%;
  }
}

@media only screen and (max-width: 1000px) {
  .about-beatcave-logo {
    width: 50%;
    height: 50%;
  }
}

