.admin-wrapper {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.salesChart {
  display: flex;
  justify-content: center;
}

.chartContainer {
  background-color: blue;
  width: 100%;
}
