.beats-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 94%;
  width: 100%;
  overflow: scroll;
}

.beats-left-wrapper {
  justify-content: center;
}

.beats-right-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.filter-list {
  height: fit-content;
  list-style-type: none;
  margin: 200px;
  padding: 0;
}

.beats-audio-player {
  justify-content: center;
  margin-top: 5px;
  width: 100%;
  z-index: -50;
}

.genre-filter-wrapper {
  margin-top: 5px;
}

.genre-filter {
  width: 100%;
}

.downloads-filter-wrapper {
  margin-top: 5px;
}

.downloads-filter {
  width: 100%;
}

.price-filter-wrapper {
  margin-top: 5px;
}

.price-filter {
  width: 100%;
}

.bpm-filter-wrapper {
  margin-top: 5px;
}

.bpm-filter {
  width: 100%;
}

.key-filter-wrapper {
  margin-top: 5px;
}

.key-filter {
  width: 100%;
}

.filter-button {
  width: 100%;
  height: 30px;
  border-radius: 10%;
  margin-top: 10px;
  color: #ffffff;
  background-color: #000000;
}

/* .rhap_additional-controls{
  display: none;
} */

.beat-wrapper {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: auto;
  margin-bottom: 2%;
  padding: 10px 10px 10px 10px;
  width: 80%;
  align-self: center;
}

.beat-content-wrapper {
  width: 100%;
}

.beat-content-wrapper img {
  width: 10%;
}

.beat-content-wrapper p {
  margin: auto;
}

.beat-player-wrapper {
  width: 100%;
}

.add-cart-beats {
  position: absolute;
  top: 10px;
  right: 10px;
}

.beats-title {
  width: 100%;
  text-align: center;
}
