.beats-wrapper {
  display: flex;
  background-color: blue;
  justify-content: center;
  height: 100vh;
}

.beats-left-wrapper {
  background-color: cadetblue;
  display: flex;
  width: 20%;
  justify-content: center;
}

.beats-right-wrapper {
  background-color: yellow;
  display: flex;
  width: 80%;
  justify-content: center;
}

.filter-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.beats-audio-player{
  justify-content: center;
  margin-top: 5px;
  width: 800px;
  z-index: -50;
}

.genre-filter-wrapper{
  margin-top: 5px;
}

.genre-filter{
  width: 100%;
}

.downloads-filter-wrapper{
  margin-top: 5px;
}

.downloads-filter{
  width: 100%;
}

.price-filter-wrapper{
  margin-top: 5px;
}

.price-filter{
  width: 100%;
}