.products-wrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.products-right-wrapper {
  width: 50%;
  text-align: center;
  padding: 150px 0;
}

.products-left-wrapper {
  width: 50%;
  text-align: center;
  padding: 150px 0;
}

.product-container {
  position: relative;
  width: 50%;
  height: auto;
  margin: auto;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.product-container p {
  width: 50%;
  margin: auto;
}

.beatform {
  align-self: center;
}

.beatform input {
  margin: 1%;
  width: 25%;
}

.beatform select {
  margin: 1%;
  width: 26%;
}

.beatform textarea {
  margin: 1%;
  width: 25%;
}

.beatform button {
  margin: 1%;
  width: 25%;
}

.beatform {
  align-self: center;
}

.eventform input {
  margin: 1%;
  width: 25%;
}

.eventform select {
  margin: 1%;
  width: 26%;
}

.eventform textarea {
  margin: 1%;
  width: 25%;
}

.eventform button {
  margin: 1%;
  width: 25%;
}

.product-popup {
  text-align: center;
  padding: 1%;
  background-color: black;
  border-radius: 2%;
}

.product-popup p {
  color: white;
}

.product-popup button {
  width: 100%;
  height: 30px;
  border-radius: 10%;
  border-color: #ffffff;
  margin-top: 10px;
  color: #ffffff;
  background-color: #000000;
}

.product-popup button:hover {
  filter: brightness(1.2);
}

.deleteicon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.deleteicon:hover {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.deleteicon:active {
  background-color: black;
}

.editicon {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.editicon:hover {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.editicon:active {
  background-color: black;
}
