.events-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0px;
}

.eventsTop h1 {
  margin: 0px;
}

.eventsTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventsBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.eventContainer {
  background-color: black;
  position: relative;
  padding: 3%;
  width: 15%;
  border-radius: 25px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

.eventContainer:hover {
  background-color: black;
  filter: brightness(1.2);
  width: 16%;
}

.eventContainer h4 {
  color: white;
}

.eventContainer p {
  color: white;
}

.add-cart-events {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.add-cart-events:hover {
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

.add-cart-events:active {
  background-color: white;
}
